* {
	margin: 0 auto;
	padding: 0;
	padding-top: 10px;
	box-sizing: border-box;	
}

body {
	/*background: rgba(255, 187, 30, 1.0);*/
	background: linear-gradient(45deg, rgba(255, 187, 30, 1.0), rgba(255, 96, 223, 1.0)) no-repeat;
	background-size: contain;
	width: 80%;
	min-height: 1200px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
}

button{
	border-radius: 10px;
	background-color: rgba(255, 236, 214, 0.562);
	padding: 1rem;
	text-align: center;
	&:hover{
		color:azure;
		cursor: pointer;	
		box-shadow: 1px 5px 30px 5px rgba(253, 15, 15, 0.65) inset;		
	}	
}

i{
	padding: 0;
}

section{
	margin-bottom: 40px;
	h1{
		margin: 20px;
	}
}

.new-task {
	margin: 2rem;	
}

.task-form{
	max-width: 80%;
	padding: 1.5rem;
	background-color: rgba(255, 236, 214, 0.562);
	border-radius: 6px;
	
	select, input{
		margin: .5rem;
		text-align: left;
		padding: 0.3rem;		
	}
	textarea{
		width: 100%;
		display: block;
		margin: 0.1rem;
		border-radius: 6px;
		padding:1rem;
	}
	button{
		display: block;
		margin-top: 1rem;
		text-align: center;
		
	}	
}

.task-form.hide {
	display: none;
}

.items{
	width: 100%;
	margin: 0;
	display:flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}

.task-box{
	background: rgba(255, 241, 230, 0.87);
	padding: 0;
	margin: 0;
	width: 15%;
	text-wrap: wrap;
	border: 3px dotted rgb(238, 161, 130);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	.task-head{
		padding: 0;
		margin: 0;
		margin-bottom: .5rem;
		display: flex;
		justify-content: space-between;
	}
	
	span{
		padding: 0;
		margin: 0rem;
		color: rgb(255, 153, 0);		
		font-size: .9rem; 	
	}
	p{
		padding: .4rem ;
		padding-top:0;
		width: 100%;
		text-align: center;
		font-style: italic;		
	}
	.task-bottom{
		display: flex;
		justify-content: space-between;
		margin: 0.2rem;
		.checkbox{
			margin: .3rem;
		}
		.delete-form{
			margin:0;
			padding-top: 0;
		}
	
		button{
			text-align: left;
			margin: 0;
			padding: 0.3rem;
			border-radius: 0;
			border: 0;
		}
		
	}
	
}



